name: templatte CI

on: [push, pull_request]

jobs:
  build:
    defaults:
      run:
        shell: bash

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12"]
    env:
      OS: ${{ matrix.os }}

    steps:
      - name: Set OS Environment Variables (Windows)
        if: runner.os == "Windows"
        run: |
          echo "ACTIVATE_PYTHON_VENV=.venv/scripts/activate" >> $GITHUB_ENV

      - name: Set OS Environment Variables (not Windows)
        if: runner.os != 'Windows'
        run: |
          echo 'ACTIVATE_PYTHON_VENV=.venv/bin/activate' >> $GITHUB_ENV

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache $HOME/.local to speed up Poetry installation
        uses: actions/cache@v4
        with:
          path: ~/.local
          key: dotlocal-${{ runner.os }}-${{matrix.python-version}}-${{ hashFiles(".github/workflows/ci.yaml") }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: false

      - name: Build
        run: |
          make build
